.banner-contact {
    background-color: $c1;
    padding: 48px 0 ;
    .banner {
        border-radius: 16px;
        background-color: $accent;
        color: $white;
        padding: 32px 44px;
        display: flex;
        grid-gap: 90px;
        width: 100%;
        flex-wrap: wrap;
        overflow: hidden;
        &__text { 
            max-width: 391px;
            position: relative;
            h2 {
                margin: 0 0 48px 0;
            }
        }
        &__form {
            background-color: $c1;
            color: $accent;
        }
        .underline {
            right: 0;
            transform: translateY(16px);
            background-color: $white;
            &::after {
                background-color: $white;
            }
        }
    }
}