.card-social {
    display: flex;
    grid-gap: 19px;
    img {
        width: 196px;
        height: 196px;
        background-color: $accent;
        border-radius: 16px;
    }
    div {
        display: flex;
        position: relative;
        flex-direction: column;
       
        h3 {
            margin: 0 0 10px;
        }
        a {
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
}