body {
    background-color: $c1;
    margin: 0;
    padding: 0;
    font-family: "Commissioner", sans-serif;
}

p {
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}

button {
    font-size: 16px;
    border: none;
    font-family: "Montserrat";
    font-weight: 500;
}

img {
    object-fit: cover;
}

.underline {
    width: 1920px;
    position: absolute;
    height: 3px;
    background-color: $accent;
    &::after {
        content: '';
        width: 14px;
        height: 14px;
        display: block;
        background-color: $accent;
        border-radius: 50%;
        position: absolute;
        right: 0;
        top: -5.5px;
    }
}

h1 {
    margin: 0;
    font-family: "Commissioner", sans-serif; 
    font-size: 32px;
    color: $white;
    font-weight: 300;
    @media (max-width: $tablet) {
        font-size: 16px;
    }
    span {
        font-family: "Analogue", serif; 
        font-size: 96px;
        color: $accent;
        font-weight: 400;
        @media (max-width: $tablet) {
            font-size: 64px;
        }
    }
}
 h2 {
    font-size: 32px;
    margin: 0;
    font-family: "Commissioner", sans-serif; 
    font-weight: 600;
    @media (max-width: $tablet) {
        font-size: 28px;
    }
 }
 h3 {
    font-size: 24px;
    margin: 0;
    font-weight: 600z;
 }

a {
    font-size: 16px;
    text-decoration: none;
    &:hover {
        cursor: pointer;
    }
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    width: calc(100% - 64px);
    padding: 0 32px;
    flex-wrap: wrap;
    &.fw-w {
        flex-wrap: wrap;
    }
    &.jc-sb {
        justify-content: space-between;
    }
    &.ai-c {
        align-items: center;
    }
    &.ai-fe {
        align-items: flex-end;
    }
    &.jc-fe {
        justify-content: flex-end;
    }
    &.jc-c {
        justify-content: center;
    }
    &.fd-c {
        flex-direction: column;
    }
    &.center {
        align-items: center;
        justify-content: center;
    }
}