.header-services {
    background-color: $c4;
    height: 479px;
    width: 100%;
    margin: 0 0 -280px;
    .container {
        max-width: 772px;
    }
    h1 {
        font-family: 16px;
        padding: 64px 0 0 0 ;
    }
}